{
  "name":<%= actor.name.try(&.inspect) || "null" %>,
  "summary":<%= actor.summary.try(&.inspect) || "null" %>,
  "image":<%= actor.image.try(&.inspect) || "null" %>,
  "icon":<%= actor.icon.try(&.inspect) || "null" %>
}
