<%- _actor = activity.actor -%>
<%= render "src/views/partials/activities/label.html.ecr" %>
<div class='content'>
    <div class='summary'>
        <a href='<%= _actor.display_link %>'><%= _actor.display_name %></a> rejected your follow request.
    </div>
</div>
