<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        <div>
            <h1>Log In</h1>
            <% if message %>
                <p>Error: <%= message %></p>
            <% end %>
            <form method='POST'>
                <input type='text' name='username' value='<%= username %>'>
                <input type='password' name='password' value='<%= password %>'>
                <input type='submit' value='Log In'>
            </form>
        </div>
    </body>
</html>
