User-agent: *
Disallow: /api*
Disallow: /mcp*
Disallow: /admin*
Disallow: /actors/*/*
Disallow: /objects/*/*
Disallow: /sessions*
Disallow: /filters*
Disallow: /settings*
Disallow: /uploads*
Disallow: /metrics*
Disallow: /search*
Disallow: /tasks*
Allow: /
