<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Unauthorized</title>
    </head>
    <body>
        <div>
            <h1>Unauthorized</h1>
        </div>
    </body>
</html>
