html { font-size: 16px; }

/* space for the top menu */
html { scroll-padding-top: 3.65rem; }
.ui.fixed.menu + .ui.container { padding-top: 3.65rem; }

/* sticky footer */
body { display: flex; flex-direction: column; }
.ui.forced.menu { border-radius: 0 !important; margin-top: auto; white-space: pre-wrap; }

/* remove visible outlines on focused menu items */
.ui.pagination.menu a:focus, .ui.navigation.menu a:focus { outline: 0; }

/** timeline **/
/* overlapping profile icons */
.ui.feed > .event > .label img + img { display: block; margin: -1.85rem 0 0 0.95rem; width: 75%; }
.ui.feed > .event > .label img + i { display: block; margin: -2.15rem 0 0 0.95rem; width: 75%; }

/* remove margin on figures */
.ui.feed > .event > .content figure { margin: auto; }

/* style figcaptions */
.ui.feed > .event > .content figcaption { text-align: center; font-style: italic; }

/* reply and delete actions */
.ui.feed .meta > form { display: inline; }

/* images in posts */
.ui.feed .ui.image { object-fit: cover; }
.ui.feed .extra.images img { object-fit: cover; }
@media screen and (max-width: 599px) { /* phones */
    .ui.feed .ui.image { width: 250px; height: 250px; }
    .ui.feed .extra.images img { width: 95px; height: 95px; }
    .ui.feed figure figcaption { width: 250px; }
}
@media screen and (min-width: 600px) { /* tablets portrait & larger */
    .ui.feed .ui.image { width: 450px; height: 450px; }
    .ui.feed .extra.images img { width: 95px; height: 95px; }
    .ui.feed figure figcaption { width: 450px; }
}
@media screen and (min-width: 900px) { /* tablets landscape & larger */
}
@media screen and (min-width: 1200px) { /* desktops & larger */
}
@media screen and (min-width: 1800px) { /* big desktops & larger */
}

/** large actor partial **/
.actor-large.segments { margin-top: 1rem !important; margin-bottom: 1rem; }
.actor-large.segments > .segment:first-child { min-height: 18rem; background-position: center; background-repeat: no-repeat; background-size: cover; }
.actor-large.segments > .segment img { position: absolute; bottom: 1rem; left: 1rem; width: 7rem; height: 7rem; object-fit: cover; background-color: #ffffffa0; border-radius: 3.5rem; }
.actor-large.segments > .segment i { position: absolute; bottom: 1.5rem; left: 1.5rem; color: rgba(0,0,0,.6); line-height: 5rem; font-size: 5rem; }

/* missing styling for button elements (vs input elements) */
/* used in sign out item in the menu */
.ui.input > button { border: 1px solid rgba(34,36,38,.15); }

/* additional button styles */
/* used in posts in the timeline */
.ui.iconic.button { background: transparent none !important; padding: 0; margin: 0; }
.ui.dangerous.button:hover { color: #FF2733 !important; transition: 0.2s color ease; }
