{
  <%- if actor -%>
    "actor":{
      "id":<%= actor.iri.inspect %>,
      "username":<%= actor.username.try(&.inspect) || "null" %>,
      "name":<%= actor.name.try(&.inspect) || "null" %>
    },
  <%- end -%>
  <%- if message -%>
    "msg":<%= message.inspect %>,
  <%- end -%>
  "query":<%= (query || "").inspect %>
}
