<nav class='ui bottom forced inverted menu'>
    <div class='ui text container'>
        <a class="link item" href='https://github.com/toddsundsted/ktistec' target='_blank'>Powered by <em>Ktistec</em>.</a>
    </div>
</nav>
