<nav class='ui bottom forced inverted menu'>
    <div class='ui text container'>
        <%- default = %q|<a href='https://github.com/toddsundsted/ktistec' target='_blank'>Powered by <em>Ktistec</em>.</a>| -%>
        <span class="link item"><%= Ktistec.settings.footer || default %></span>
    </div>
</nav>
