<nav>
    <%- if (_account = env.current_account?) -%>
        <a href='<%= actor_path(_account) %>'>Home</a>
    <%- else -%>
        <a href='<%= sessions_path %>'>Log In</a>
    <%- end -%>
</nav>
