<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <script type="application/ld+json">
            <%= render "src/views/accounts/json.ecr" %>
        </script>
    </head>
    <body>
        <div>
            <h1><%= account.username %></h1>
        </div>
    </body>
</html>
