<%- activity_pub_collection(notifications) do |notification, i| -%>
  <%- if notification.responds_to?(:activity) -%>
  "<%= notification.activity.iri %>"<%= comma(notifications, i) %>
  <%- end -%>
<%- end -%>
