<%- content_for "title" do -%>Inbox<%- end -%>
<%= render "src/views/partials/navigator.html.ecr" %>
<div>
    <h1>Inbox</h1>
    <ul>
        <%- activities.each do |activity| -%>
            <li class="activity">
                <p><a href="<%= activity.iri %>"></a></p>
            </li>
        <%- end -%>
    </ul>
    <%= paginate(activities, env) %>
</div>
