<%= render "src/views/partials/navigator.html.ecr" %>
<div>
    <h1>Lookup</h1>
    <% if message %>
        <p class="error message">Error: <%= message %></p>
    <% end %>
    <form method='GET'>
        <input type='text' name='account' value='<%= account %>'>
        <input type='submit' value='Lookup'>
    </form>
</div>
<%- if actor -%>
    <%= render "src/views/partials/actor-medium.html.ecr" %>
<%- end -%>
