{
  <%- unless account.errors.empty? -%>
    "msg":<%= account.errors.flat_map { |k, vs| vs.map { |v| "#{k} #{v}" } }.join(", ").inspect %>,
  <%- end -%>
  "username":<%= account.username.inspect %>,
  "password":<%= account.password.inspect %>
}
