{
  <%- unless actor.errors.empty? -%>
    "msg":<%= actor.errors.flat_map { |k, vs| vs.map { |v| "#{k} #{v}" } }.join(", ").inspect %>,
  <%- end -%>
  "username":<%= actor.username.inspect %>,
  "password":<%= actor.password.inspect %>
}
