{
  "@context":"https://www.w3.org/ns/activitystreams",
  "id": "<%= host %>",
  "type": "Collection",
  "items":[
    <%- accounts.each_with_index do |account, i| -%>
      "/actors/<%= account.username %>"<%= i < accounts.size - 1 ? "," : "" %>
    <%- end -%>
  ]
}
