{
  <%- unless settings.errors.empty? -%>
    "msg":<%= settings.errors.flat_map { |k, vs| vs.map { |v| "#{k} #{v}" } }.join(", ").inspect %>,
  <%- end -%>
  "host":<%= settings.host.try(&.inspect) || "null" %>,
  "site":<%= settings.site.try(&.inspect) || "null" %>
}
