{
  <%- unless account.errors.empty? && actor.errors.empty? -%>
    "msg":<%= account.errors.merge(actor.errors).flat_map { |k, vs| vs.map { |v| "#{k} #{v}" } }.join(", ").inspect %>,
  <%- end -%>
  "username":<%= account.username.try(&.inspect) || "null" %>,
  "password":<%= account.password.try(&.inspect) || "null" %>,
  "name":<%= actor.name.try(&.inspect) || "null" %>,
  "summary":<%= actor.summary.try(&.inspect) || "null" %>
}
