<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no' name='viewport'>
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#da532c">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="manifest" href="/site.webmanifest">
        <title><%= Ktistec.site? || "Ktistec" %><%= (title = yield_content("title")) && " | #{title}" %></title>
        <script src="/jquery.min.js"></script>
        <link rel="stylesheet" href="/semantic/semantic.min.css">
        <script src="/semantic/semantic.min.js"></script>
        <link rel="stylesheet" href="/trix/trix.css">
        <script src="/trix/trix.js"></script>
        <link rel="stylesheet" href="/lightgallery/css/lightgallery.min.css">
        <script src="/lightgallery/js/lightgallery.min.js"></script>
        <link rel="stylesheet" href="/filepond/filepond.min.css">
        <link rel="stylesheet" href="/filepond/filepond-plugin-image-preview.min.css">
        <script src="/filepond/filepond.min.js"></script>
        <script src="/filepond/filepond-plugin-file-validate-type.min.js"></script>
        <script src="/filepond/filepond-plugin-image-resize.min.js"></script>
        <script src="/filepond/filepond-plugin-image-transform.min.js"></script>
        <script src="/filepond/filepond-plugin-image-preview.min.js"></script>
        <script src="/turbolinks/turbolinks.min.js"></script>
        <style><%= render "src/views/pages/ktistec.css.ecr" %></style>
        <script><%= render "src/views/pages/ktistec.js.ecr" %></script>
        <link rel="stylesheet" href="/ktistec.css">
        <script src="/ktistec.js"></script>
        <%= yield_content("head") %>
    </head>
    <body>
        <%= render "src/views/partials/modals.html.slang" %>
        <%= render "src/views/partials/header.html.ecr" %>
        <div class="ui text container">
            <%= content %>
        </div>
        <%= render "src/views/partials/footer.html.ecr" %>
    </body>
</html>
