<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="turbo-refresh-method" content="morph">
        <meta name="turbo-refresh-scroll" content="preserve">
        <meta content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no' name='viewport'>
        <meta name="theme-color" content="#ffffff">
        <meta name="msapplication-TileColor" content="#da532c">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="manifest" href="/site.webmanifest">
        <title><%= Ktistec.settings.site || "Ktistec" %><%= (title = title.presence) && " | #{title}" %></title>
        <link rel="stylesheet" href="/3rd/semantic-2.4.1.min.css"/>
        <script>
          window.Ktistec = {
            csrf: '<%= env.session.string?("csrf") %>',
            auth: <%= !!env.session.account? %>
          }
        </script>
        <link rel="stylesheet" href="/dist/site.css"/>
        <script src="/dist/site.bundle.js"></script>
        <%= Ktistec::Themes.css_tags %>
        <%= Ktistec::Themes.js_tags %>
        <%= head %>
    </head>
    <body class="dimmable">
        <%= render "src/views/partials/modals.html.slang" %>
        <%= render "src/views/partials/header.html.slang" %>
        <%= render "src/views/partials/banner.html.slang" %>
        <%- wide = (path = env.request.path).starts_with?("/.design-system") || path.starts_with?("/admin/") -%>
        <div class="<%= wide ? "ui container" : "ui text container" %>">
            <%= content %>
        </div>
        <%= render "src/views/partials/footer.html.slang" %>
    </body>
</html>
